<!DOCTYPE html>
<html lang="fr">
  <%- include('includes/head') %>
  <body>
    <%- include('includes/header') %>
      <main class="container mt-4">
        <h1>Page d'accueil</h1>
      </main>
  </body>
</html>